/* - Alignment */

.align-center {
	text-align: center !important;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left !important;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.pull-none {
	float: none !important;
}

.alignright {
	margin-left: 30px!important;
	margin-bottom: 30px!important;
	float: right;
	max-width: 50%;
}

.alignleft {
	margin-right: 30px!important;
	margin-bottom: 30px!important;
	float: left;
	max-width: 50%;
}

.aligncenter {
	margin-left: auto!important;
	margin-right: auto!important;
	display: block;
}

.full-width {
	max-width: 100%;
	width: 100%;
}

.full-max-width {
	max-width: 100%;
	width: auto;
}

.centrize {
	display: table;
	table-layout: fixed;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	z-index: 2;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-lowercase {
	text-transform: lowercase !important;
}

.text-capitalize {
	text-transform: capitalize !important;
}

.text-regular {
	font-weight: 400 !important;
}

.text-bold {
	font-weight: 700 !important;
}

.text-italic {
	font-style: italic !important;
}

.alert-success {
	color: green;
	font-size: 18px;
}
