/* - Breadcrumbs */

.breadcrumbs {
	position: relative;
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 0;
	float: left;
	z-index: 2;
}

.breadcrumbs a,
.breadcrumbs span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 19px;
	color: #222;
	text-decoration: none;
}

.breadcrumbs a {
	color: #1979D5;
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

