<section id="home" class="py-9 py-lg-10 min-vh-100 d-flex bg-primary">
  <div class="overlay overlay-advanced d-flex align-items-center">
    <div class="container d-flex justify-content-center">
      <span class="cover-letter letter-4x text-neumorphic-primary d-none d-lg-block">A</span>
    </div>
  </div>
  <div class="container align-self-center">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto text-center text-white">
        <p class="h5 mb-5">Welcome</p>
        <h1 class="mb-5">
          I Am <span class="font-weight-bold" data-toggle="typed" data-options='{"strings": ["Amanda Watt", "UI/UX Designer", "Photographer"]}'></span>
        </h1>
        <p class="mb-7">I’m Amanda Malat a marketing specialist with over five years work experience. Donec sed fringilla lectus, non vulputate orci. Integer id libero euismod, interdum ligula vel, porttitor magna.</p>
        <a href="#!" class="btn btn-white d-block d-md-inline-block mb-3 mb-md-0">Download CV</a>
        <a href="#about-me" class="btn btn-soft-white scrollto ml-md-3 d-block d-md-inline-block">Learn more</a>
      </div>
    </div>
  </div>
  <div class="mouse-icon text-white"></div>
</section>
