{{ if .Site.Data.home.hero.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down">
  <div class="rad-showcase__bg">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.home.hero.image | absURL }}"
      alt="{{ .Site.Data.home.hero.image_alt }}"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
          {{ .Site.Data.home.hero.before_title }} {{ .Site.Data.home.hero.title }} {{ .Site.Data.home.hero.after_title }}
        </h1>
        <p class="lead">
          {{ .Site.Data.home.hero.description | safeHTML }}
        </p>
        <a href="{{ .Site.Data.home.hero.button1.link | absURL }}" class="btn btn-primary">
          {{ .Site.Data.home.hero.button1.label }}
        </a>
        <a href="{{ .Site.Data.home.hero.button2.link | absURL }}" class="btn btn-secondary">
          {{ .Site.Data.home.hero.button2.label }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}
