<nav id="siteNavbar" class="site-navbar site-navbar-transparent navbar navbar-expand-lg navbar-dark bg-white shadow-light py-2" data-navbar-base="navbar-dark" data-navbar-toggled="navbar-light" data-navbar-scrolled="navbar-light">
  <a class="navbar-brand" href="{{ .Site.BaseURL }}">
    <img src="assets/images/logo-white.png" alt="" class="navbar-brand-img navbar-brand-img-light">
    <img src="assets/images/logo-dark.png" alt="" class="navbar-brand-img navbar-brand-img-dark">
  </a>

  <button class="navbar-toggler-alternative" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="siteNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-alternative-icon">
      <span></span>
    </span>
  </button>

  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      {{ range .Site.Menus.main }}
      <li class="nav-item">
        <a class="nav-link scrollto" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <a class="btn btn-white d-block d-lg-inline-block ml-lg-3" href="#!" target="_blank" rel="noopener nofollow" data-on-navbar-light="btn-primary" data-on-navbar-dark="btn-white">Buy now</a>
  </div>
</nav>
